@use '../abstracts/variables' as vars;

@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media (max-width: 1920px) and (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: 1440px) and (min-width: 1025px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 768px) {
      @content;
    }
  } @else if $point == tabletmobile {
    @media (max-width: 1024px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == mobileandrotate {
    @media (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == mobilerotate {
    @media (max-width: 767px) and (min-width: 479px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == smallmobile {
    @media (max-width: 650px) and (min-width: 568px) {
      @content;
    }
  } @else if $point == rotate {
    @media (max-height: 550px) and (min-height: 0) {
      @content;
    }
  }
}


@mixin large-desktop {
  @media (min-width: 1920px) { @content; }
}

@mixin laptop-l {
  @media (min-width: 1440px) and (max-width: 1919px) { @content; }
}

@mixin laptop-m {
  @media (min-width: 1025px) and (max-width: 1439px) { @content; }
}

@mixin tablet-responsive {
  @media (min-width: 769px) and (max-width: 1024px) { @content; }
}

@mixin mobile-responsive {
  @media (max-width: 768px) { @content; }
}


@mixin flex($justify: space-between, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin btn{
  padding: 12px 32px 12px 32px;
  border: none;
  border-radius: 32px;
  background-color: vars.$blue-color;
  color: white;
  cursor: pointer;
  font-size: 12px;


}

@mixin card{
  background-color: #FFFFFF80;
  opacity: 16%;
  font-size: 18px;
  max-width: max-content;

}