$roboto-font: "Roboto", sans-serif;
$poppins-font: "Poppins", sans-serif;
$blue-color: #264065;
$grey-color: #6c757d;
$cyan-color: #A9D6CB;
$beige-color: #F5E6D3;
$black-color: #070D15;
$transparent-color: #FFFFFF80;