@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    
    figure {
        img {
            max-width: 100%;
        }
    }
    
    .main-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 56px;
            align-items: center;
            
            li {
                a {
                    text-decoration: none;
                    color: vars.$blue-color;
                    font-weight: 300;
                    font-size: 16px;
                }
                
                &.dropdown {
                    position: relative;

                    .dropdown-toggle {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        
                        span {
                            display: flex;
                            align-items: center;
                            
                            img {
                                width: 16px;
                                height: 16px;
                                vertical-align: middle;
                            }
                        }
                    }

                    &:hover .dropdown-menu {
                        display: inline-block;
                    }

                    .dropdown-menu {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: white;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        min-width: 160px;

                        li {
                            a {
                                padding: 12px 16px;
                                display: block;
                                color: vars.$black-color;

                                &:hover {
                                    background-color: vars.$grey-color;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-actions {
        display: flex;
        gap: 40px;
        align-items: center;
        
        img {
            width: 24px;
            height: 24px;
        }

        ul.user-menu {
            list-style: none;
            margin-left: 20px;
            padding: 0;
            display: flex;
            gap: 40px;
            align-items: center;
            
            li {
                a {
                    text-decoration: none;
                    color: vars.$blue-color;
                    font-weight: 300;
                    font-size: 16px;

                    &.btn {
                        padding: 12px 32px;
                        border: none;
                        border-radius: 32px;
                        background-color: vars.$blue-color;
                        color: white;
                        cursor: pointer;
                        font-size: 12px;
                    }
                }
            }
        }
    }

}