@use '../abstracts/variables' as vars;

.categories {
    display: flex;
    justify-content: space-between;
    width: 600px;
   
    margin-top: 190px;

    .category-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        
        img {
            width: 40px;
            height: 40px;
            order: -1;
            background-color: vars.$cyan-color;
            border-radius: 50%;
            padding: 5px;
            box-sizing: border-box;
            display: block;
        }
        
        p {
            max-width: 95px;
            line-height: 1.3;
            margin: 0;
            text-align: center;
        }
    }
}
