@use "../abstracts/variables" as vars;

.hero {
    width: 800px;
    height: 380px;
    padding: 4rem 0;

    .hero-content {
        h1 {
            margin-top: 60px;
            margin-bottom: 32px;
        }
        
        p {
            margin-bottom: 56px;
        }

        .hero-buttons {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            a:not(.btn) {
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                color: vars.$blue-color;
            }
        }
    }
}
