@use '../abstracts/variables' as vars;

section.coments {
    position: absolute;
    top: 70%;
    right: 50px;
    width: 450px;
    height: 520px;
    transform: translateY(-50%);
    z-index: 100;

    article.comment-1, article.comment-2 {
        width: 300px;
        height: 200px;
        border-radius: 15px;
        padding: 10px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background: rgba(255, 255, 255, 0.55);
        backdrop-filter: blur(3px);

        img {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 20px;
            height: 20px;
        }

        p {
            margin: 20px 15px 15px 10px;
            font-size: 16px;
            line-height: 1.4;
            color: #070D15;
            text-align: left;
        }

        h3 {
            position: absolute;
            bottom: 15px;
            left: 15px;
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            color: vars.$blue-color;
        }
    }

    article.comment-1 {
        top: 15px;
        right: -25px;
        z-index: 2;
    }

    article.comment-2 {
        top: 280px;
        right: 85px;
        z-index: 1;
    }
}

